version: "3"

services:
  v2ray:
    container_name: mahsa-v2ray
    image: {{ image }}
    restart: unless-stopped
    environment:
      - v2ray.vmess.aead.forced=false
    ports:
      - "{{ port }}:1310"
    volumes:
      - ./config.json:/etc/v2ray/config.json:ro
      - ./logs:/var/log/v2ray/